.user{
position: absolute;
left: 40px;
top: 20px;
}
.user_details{
  display: grid;
  grid-template-columns: auto auto auto auto ;
  gap: 20px;
}
.main_div{
  width: 300px;
  height: 150px;
  border: 1px solid gainsboro;
  cursor: pointer;
  background-color: #95afc0;
}
.details {
text-align: center;
cursor: pointer;

}

.modal_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal{
  background-color: #f1f2f6;
  height: 600px;
  width: 400px;
  max-width: 90%;
  padding: 10px 50px;
  border-radius: 10px;
  position: relative;
}


.close{
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  font-size:xx-large;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: red
}

.profile_details{
  position: absolute;
  top: 50px;
  left: 100px;
}
.profile_details span{
font-weight: normal;

}
.profile_details div{
  text-align: center;
  border-bottom: 1px solid black;
}
